# Pandas Accesing Datam

### Review data
Let's load in the data using read_csv and quickly review it using head().

In [ ]:
#Importing libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\pili_\anaconda3\envs\python_course\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\pili_\.cache\huggingface\hub\datasets--lukebarousse--data_jobs. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Generating train split: 100%|██████████| 785741/785741 [00:07<00:00, 102041.50 examples/s]

In [13]:
df.head()

        job_title_short  ...                                    job_type_skills
0  Senior Data Engineer  ...                                               None
1          Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2         Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3         Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4         Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...

[5 rows x 17 columns]

## iloc

### Notes

* `df.iloc[]`: Select rows and columns by position.

### Examples
Using `iloc` let's:

1. Get the first row (index 0).
2. Get the `job_skills` element of the 3rd (index at 2) row. 
3. Get the `job_skills` (index 15) and `job_type_skills` (index 16) for the third (index 2) and fourth (index 3) rows.
4. Get the first 12 rows of the DataFrame.
5. Get the first five columns of the DataFrame and all of the rows.

In [18]:
#Get the first row
df.iloc[0]

job_title_short                                       Senior Data Engineer
job_title                Senior Clinical Data Engineer / Principal Clin...
job_location                                                 Watertown, CT
job_via                                                    via Work Nearby
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                       Texas, United States
job_posted_date                                        2023-06-16 13:44:15
job_no_degree_mention                                                False
job_health_insurance                                                 False
job_country                                                  United States
salary_rate                                                           None
salary_year_avg                                                        NaN
salary_hour_avg                                                        NaN
company_name                                          Boehringer Ingelheim
job_skills                                                            None
job_type_skills                                                       None
Name: 0, dtype: object

In [27]:
#Get the `job_skills` element of the 3rd (index at 2) row.
print(df.iloc[0, 15])

None

In [ ]:
#Get the job_skills (index 15) and job_type_skills (index 16) for the third (index 2) and fourth (index 3) rows.
df.iloc[2:4, 15:17]
#df.iloc[[2,3],[15,16]]

                                          job_skills                                    job_type_skills
2  ['python', 'sql', 'c#', 'azure', 'airflow', 'd...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3  ['python', 'c++', 'java', 'matlab', 'aws', 'te...  {'cloud': ['aws'], 'libraries': ['tensorflow',...

In [39]:
#Get the first 12 rows of the DataFrame.
df.iloc[:12]

         job_title_short  ...                                    job_type_skills
0   Senior Data Engineer  ...                                               None
1           Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2          Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3          Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4          Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...
5          Data Engineer  ...  {'cloud': ['gcp'], 'programming': ['python', '...
6   Senior Data Engineer  ...  {'cloud': ['gcp', 'bigquery'], 'databases': ['...
7          Data Engineer  ...  {'cloud': ['gcp', 'azure', 'aws', 'bigquery', ...
8       Business Analyst  ...  {'analyst_tools': ['excel', 'powerpoint', 'pow...
9         Data Scientist  ...  {'analyst_tools': ['excel'], 'cloud': ['azure'...
10         Data Engineer  ...  {'cloud': ['databricks', 'azure'], 'libraries'...
11         Data Engineer  ...  {'analyst_tools': ['qlik'], 'programming': ['p...

[12 rows x 17 columns]

In [41]:
#Get the first five columns of the DataFrame and all of the rows.
df.iloc[:, :5]

             job_title_short  ... job_schedule_type
0       Senior Data Engineer  ...         Full-time
1               Data Analyst  ...         Full-time
2              Data Engineer  ...         Full-time
3              Data Engineer  ...         Full-time
4              Data Engineer  ...         Full-time
...                      ...  ...               ...
785736     Software Engineer  ...   Pekerjaan tetap
785737          Data Analyst  ...   Pekerjaan tetap
785738      Business Analyst  ...   Pekerjaan tetap
785739         Data Engineer  ...   Pekerjaan tetap
785740     Software Engineer  ...   Pekerjaan tetap

[785741 rows x 5 columns]

## loc

### Notes

* `df.loc[]`: Select rows and columns by position or label.
* Similar to `df.iloc[]` except we can use labels instead.

### Example

Let's get the same columns we did before but with `loc` instead. Which uses column and row labels. These are:

1. Get the first row (index 0).
2. Get the first 10 rows of `job_skills` and `job_type_skills`.
3. Get the first 5 columns and rows 10-20.
4. Get the first 12 rows of the DataFrame.
5. Get the first 5 columns of the DataFrame and all the rows.

In [43]:
#Get the first row
df.loc[0]

job_title_short                                       Senior Data Engineer
job_title                Senior Clinical Data Engineer / Principal Clin...
job_location                                                 Watertown, CT
job_via                                                    via Work Nearby
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                       Texas, United States
job_posted_date                                        2023-06-16 13:44:15
job_no_degree_mention                                                False
job_health_insurance                                                 False
job_country                                                  United States
salary_rate                                                           None
salary_year_avg                                                        NaN
salary_hour_avg                                                        NaN
company_name                                          Boehringer Ingelheim
job_skills                                                            None
job_type_skills                                                       None
Name: 0, dtype: object

In [47]:
#Get the first 10 rows of `job_skills` and `job_type_skills`
df.loc[:9, ['job_skills', 'job_type_skills']]

                                          job_skills                                    job_type_skills
0                                               None                                               None
1  ['r', 'python', 'sql', 'nosql', 'power bi', 't...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2  ['python', 'sql', 'c#', 'azure', 'airflow', 'd...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3  ['python', 'c++', 'java', 'matlab', 'aws', 'te...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4  ['bash', 'python', 'oracle', 'aws', 'ansible',...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...
5                           ['python', 'sql', 'gcp']  {'cloud': ['gcp'], 'programming': ['python', '...
6  ['sql', 'python', 'java', 'sql server', 'gcp',...  {'cloud': ['gcp', 'bigquery'], 'databases': ['...
7  ['sql', 'nosql', 'gcp', 'azure', 'aws', 'bigqu...  {'cloud': ['gcp', 'azure', 'aws', 'bigquery', ...
8                ['excel', 'powerpoint', 'power bi']  {'analyst_tools': ['excel', 'powerpoint', 'pow...
9  ['sql', 'python', 'r', 'mongodb', 'mongodb', '...  {'analyst_tools': ['excel'], 'cloud': ['azure'...

In [51]:
#Get the first 5 columns and rows 10-20.
df.loc[10:20, 'job_title_short':'job_schedule_type']

         job_title_short  ...         job_schedule_type
10         Data Engineer  ...                 Full-time
11         Data Engineer  ...                 Full-time
12          Data Analyst  ...  Full-time and Internship
13  Senior Data Engineer  ...                 Full-time
14         Data Engineer  ...                 Full-time
15         Data Engineer  ...                 Temp work
16         Data Engineer  ...                 Full-time
17        Data Scientist  ...                 Full-time
18          Data Analyst  ...                 Full-time
19        Data Scientist  ...                 Full-time
20        Data Scientist  ...                 Full-time

[11 rows x 5 columns]

In [53]:
#Get the first 12 rows of the DataFrame.
df.loc[:11]

         job_title_short  ...                                    job_type_skills
0   Senior Data Engineer  ...                                               None
1           Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2          Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3          Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4          Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...
5          Data Engineer  ...  {'cloud': ['gcp'], 'programming': ['python', '...
6   Senior Data Engineer  ...  {'cloud': ['gcp', 'bigquery'], 'databases': ['...
7          Data Engineer  ...  {'cloud': ['gcp', 'azure', 'aws', 'bigquery', ...
8       Business Analyst  ...  {'analyst_tools': ['excel', 'powerpoint', 'pow...
9         Data Scientist  ...  {'analyst_tools': ['excel'], 'cloud': ['azure'...
10         Data Engineer  ...  {'cloud': ['databricks', 'azure'], 'libraries'...
11         Data Engineer  ...  {'analyst_tools': ['qlik'], 'programming': ['p...

[12 rows x 17 columns]